

.navbarContainer .MuiGrid-spacing-xs-2 {
  margin: auto;
} 
.MasterContainer {
  height: 900px;
}

.userInfo {
  display: flex;
  justify-content: space-around;
} 

.customIcon_header {
  font-size: 35px !important;
  color: white;
} 

 .customIconArrow_header {
  font-size: 30px !important;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .customIcon_header {
    font-size: 20px !important;
    ;
  }

  .customIconArrow_header {
    font-size: 15px !important;
    ;
  }

  .master_container {
    font-size: 8px !important;
    ;

  }
} 


 .customSearch_Header .ant-input {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: 1px solid rgb(199, 193, 193);
}

.customSearch_Header .ant-input~span,
.customSearch_Header .ant-input~span button {
  border-top-right-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
} 

.Header_Title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-left: 8% !important;
}

.userName {
  color: white;
  font-weight: bold;
  font-size: 16px;

}

.userPosition {
  color: white;

}

.Container {
  height: 700px;
}

 .Logostructure {
  height: 100px;
  margin-top: 40%;
  text-align: center;
  margin-left: 27%;
} 

.LogoDesign {
  width: 60%;
  height: 110px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20%;
  border-radius: 54px;
} 



 .ResumeSider {
  display: flex;
  height: 50px;
  padding: 3% 6%;
  cursor: pointer; 
  margin-top: 6%;
} 
.ResumeSiders {
  display: flex;
  height: 50px;
  cursor: pointer; 
  background-color: #6B14A6;
  margin-top: 6%;
  padding-left: 1%;

} 


.ChooseList{
  padding: 3%;
  display: flex;

}
.Empty_SpaceListview{
  width:5% ;
  background-color: rgb(182, 21, 197);
  height: 50px;

}

.SiderResume_Button {
  color: white;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0% 5%;
  padding-top: 3%;
}


