/* .HeaderResume{
  background-color: white;
  width: 100%;
}
.SiderView{
  height: 600px;
  background-color: rgb(69, 20, 160);
} */

.navbarContainer .MuiGrid-spacing-xs-2{
  margin: auto;
}

.userInfo{
  display: flex;
  justify-content: space-around;
}

.customIcon_header{
  font-size: 35px !important;
  color: black;
}

.customIconArrow_header{
  font-size: 30px !important;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .customIcon_header{
    font-size: 20px !important;;
  }
  .customIconArrow_header{
    font-size: 15px !important;;
  }
}


.customSearch_Header .ant-input{
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.customSearch_Header .ant-input ~ span,.customSearch_Header .ant-input ~ span button{
  border-top-right-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
}
.Header_Title{
  color: #420F8D;
  font-weight: bold;
  font-size: 24px;
  padding-left: 8% !important;
}
.userName{
  color: #8A8A8A;
  font-weight: bold;
  font-size: 16px;

}
.userPosition{
  color: #8A8A8A;

}

.Container{
  height: 700px;
  /* background-color: #E4E4E4; */
}
